img.img1 {
	width: 100%;
}

div.img1 {
	background-color: lightblue;
	width: 24%;
	text-align: center;
	background: linear-gradient(#ddccdd 5%, #ffeeff);
	margin: 15px;
	float: left;
}

div.img1:hover {
	transform: scale(1.5);
}
